@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap');

.topnav{
  width: 100%;
  text-align: center;
  padding-top: 15px;
  height: 50px;
  background-color: #392165;
  box-shadow: 0px 0px 10px #392165;
}


.nvbarElmnt {
  display: inline-block;
  position: relative;    
  text-decoration: none;
  background-color: none;    
  color: rgb(243, 237, 255);
  font-family: 'Lexend';
  font-size: 20px;
  margin-left: 3%;
  margin-right: 3%;   
  user-select: none;   
}

.active{
  color: rgb(163, 150, 189);
  font-size: 21px;
  pointer-events: none;
}

.nvbarElmnt::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #5727b0;
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;  
}

.nvbarElmnt:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (min-width: 1460px) {
  body {
    display: flex;
    justify-content: top;
    align-items: top;
    height: 118vh;
    flex-direction: column;
    background-color: #1a1a1a;
    margin: 0px;
  }

  #typing-container {
    font-family: Arial, sans-serif;
    font-size: 30px;
    padding: 20px;
    display: flex;
    align-items:center;
    justify-content: center;  
  }

  #text {
    margin-right: 4px;
    color: rgb(243, 237, 255);
    user-select: none;
  }


  #cursor {
    display: inline-block;
    width: 12px;
    height: 28px;
    background-color: rgb(243, 237, 255);
    animation: blink-animation 1s infinite;
  }

  @keyframes blink-animation {
    0% { opacity: 0; }
    35% { opacity: 1; }
    65% { opacity: 1; }
    100% { opacity: 0; }
  }

  .grid-container {
    padding-top: 150px;
    display: grid;
    grid-template-columns: auto auto;  
  }

  .grid-container2 {
    padding-top: 100px;
    display: grid;
    grid-template-columns: auto;  
  }

  .grid-item {    
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .typing-container-div{
    padding-top: 50px;
    width: 53%;  
    float: left;
    position: absolute;   
  }


  .content-1{
    padding-left: 20px;
    margin-right: 50px;
    width: 500px;
    float:right;
    border: 3px #5727b0 solid;
    border-radius: 5px;
    overflow: hidden;

    font-family: 'Lexend';
    color: rgb(126, 123, 133);
  }


  .content-2{
    margin-top: 50px;
    padding-left: 20px;
    margin-left: 50px;
    width: 500px;
    float:left;
    border: 3px #5727b0 solid;
    border-radius: 5px;
    overflow: hidden;

    font-family: 'Lexend';
    color: rgb(126, 123, 133);
  }


  .content-3{
    padding-left: 20px;
    margin-right: 150px;
    width: 500px;
    float:right;
    margin-top: 150px;

    font-family: 'Lexend';
    color: rgb(126, 123, 133);
  }

  .content-4{
    padding-left: 20px;
    margin-left: 50px;
    width: 500px;
    float:left;
    margin-top: 0px;

    font-family: 'Lexend';
    color: rgb(126, 123, 133);
  }

  .content-5{
    padding-left: 20px;
    margin-left: 200px;
    width: 500px;
    float:left;
    margin-top: 75px;

    font-family: 'Lexend';
    color: rgb(126, 123, 133);
  }

  .content-6{
    padding-left: 20px;
    margin-left: 430px;
    width: 500px;
    float:left;
    margin-top: 50px;

    font-family: 'Lexend';
    color: rgb(126, 123, 133);
  }

  .content-7{
    padding-left: 20px;
    margin-right: 50px;
    width: 400px;
    float:right;
    border: 3px #5727b0 solid;
    border-radius: 5px;
    overflow: hidden;

    font-family: 'Lexend';
    color: rgb(126, 123, 133);
  }

  .content-8{
    padding-left: 20px;
    padding-top: 5px;
    margin-left: 0px;
    width: 400px;
    float:left;
    border: 3px #5727b0 solid;
    border-radius: 5px;
    overflow: hidden;

    font-family: 'Lexend';
    color: rgb(126, 123, 133);
    align-items: center;
    align-content: center;
  }

  
  .footer {
    position:relative;
    bottom: 0;
    width: 100%;    
    height: 170px;
    padding-top: 5px;
    background-color: #292c2f;
    color: #bbb;
    text-align: center;
    margin: auto;
    margin-bottom: 0px;
    width: 100%;
  } 



  .links {
    color: #999;
    text-decoration:none;
  }

  .links:hover {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
  }
  .col-1{
    width: 40%;
    display:block;
    float:left;
    height: 100px;
  }

  .col-2{
    width: 60%;
    display:block;
    height: 100px;          
    float: left;    
    padding-top: 25px;    

  }

  .random-kecy{
    width: 50%;
    float: left;
    font-weight: 200;
    font-size: 13px;
  }


  .list-unstyled-1{
    list-style-type: none;    
    padding-left: 0;    
    width: 50%;
    float: right;
    
  }

  .list-unstyled-2{
    list-style-type: none;    
    padding-left: 0;    
    width: 100%;    
  }

  .list-unstyled-3{
    list-style-type: none;    
    padding-left: 0;    
    width: 50%;
    float: left;
    
  }
  .copyright{
    color:#575d64;    
  }

  .fa-road{
    font-family: 'Lexend';
    font-size: 15px;
  }

  .footer-section-title{    
    font-weight: 700;
    color:#d3cddb;
    text-decoration: underline;
  }

  li:not(:last-child) { 
    margin-bottom: 5px;  
  }

  .text-href{
    color: #d6d6d6;
    text-decoration:none;
    text-decoration: underline;
  }

  .background-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%; /* Adjust the width as needed */
    height: 80%; /* Adjust the height as needed */
    background-image: url(images/RandomPicture.png);
    background-repeat: no-repeat;
    background-position: 50% 50%; /* Adjust the background position as needed */
    z-index: -1; /* Ensures the background stays behind other content */
  }

  .contact-li-1{    
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: -10px;
    border-bottom: 3px #323538 solid;
    border-top: 3px #323538 solid;
    border-radius: 4px;
    margin-right: 100px;    
    background-color: #1c1c1d;
    transition: margin-right 0.2s ease-out;
  }

  .contact-li-2{
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: -10px;
    border-bottom: 3px #323538 solid;
    border-top: 3px #323538 solid;
    border-radius: 4px;
    margin-right: 90px;    
    background-color: #1c1c1d;
    transition: margin-right 0.2s ease-out;
  }

  .contact-li-3{
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: -10px;
    border-bottom: 3px #323538 solid;
    border-top: 3px #323538 solid;
    border-radius: 4px;
    margin-right: 130px;    
    background-color: #1c1c1d;
    transition: margin-right 0.2s ease-out;
  }

  .contact-li-4{
    list-style-type: none;
    padding-bottom: 5px;
    padding-top: -10px;
    border-bottom: 3px #323538 solid;
    border-top: 3px #323538 solid;
    border-radius: 4px;
    margin-right: 70px;    
    background-color: #1c1c1d;
    transition: margin-right 0.2s ease-out;
  }

  .contact-li-1:hover{
    margin-right: 70px;    
    transition: margin-right 0.2s ease-out;
  }

  .contact-li-2:hover{
    margin-right: 60px;    
    transition: margin-right 0.2s ease-out;
  }

  .contact-li-3:hover{
    margin-right: 100px;    
    transition: margin-right 0.2s ease-out;
  }

  .contact-li-4:hover{
    margin-right: 40px;    
    transition: margin-right 0.2s ease-out;
  }

  .contact-ul{
    padding-left: 0;
  }


  .input-mail{
    float: left;
    height: 25px;
    width: 250px;
    background-color: #323033;
    border:none;
    color: #d3cddb;
    font-family: 'Lexend';
    padding-left: 5px;
    margin: 5px;
    margin-left: 0px;
    border-radius: 3px;
    overflow: hidden;
    outline: none;
    transition: background-color 0.15s ease-out;
  }

  .input-mail:focus{
    background-color: #464349;
    transition: background-color 0.15s ease-out;
  }

  .input-message{
    width: 368px;
    height: 373px;
    float: left;    
    background-color: #323033;
    border:none;
    color: #d3cddb;
    font-family: 'Lexend';
    padding-left: 5px;
    margin: 5px;
    margin-left: 0px;
    border-radius: 3px;
    overflow: hidden;
    resize: none;
    outline: none;
    transition: background-color 0.15s ease-out;
  }

  .input-message:focus{
    background-color: #464349;
    transition: background-color 0.15s ease-out;
  }

  .input-submit{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 250px;
    height: 40px;
    background-color: #323033;
    outline: none;    
    border:none;
    cursor: pointer;
    color: #757575;
    font-family: 'Lexend';    
    font-size: 20px;
    border-radius: 3px;
    overflow: hidden;
    transition: background-color 0.15s ease-out;
  }

  .input-submit:hover{
    background-color: #464349;
    transition: background-color 0.15s ease-out;
  }


}

h1{
  text-decoration: underline;
  text-underline-offset: 4px;
  user-select: none;
}

h2{
  text-decoration: underline;
  text-underline-offset: 3px;
  user-select: none;
}

a{
  text-decoration: none;
  color: rgb(174, 169, 184);
}

a::-moz-selection { /* Code for Firefox */
  color: rgb(195, 189, 206);
  background: rgb(57, 33, 101)
}

a::selection {
  color: rgb(195, 189, 206);
  background: rgb(57, 33, 101)
}

p::-moz-selection { /* Code for Firefox */
  color: rgb(174, 169, 184);
  background: rgb(57, 33, 101)
}

p::selection {
  color: rgb(174, 169, 184);
  background: rgb(57, 33, 101)
}

li::-moz-selection { /* Code for Firefox */
  color: rgb(174, 169, 184);
  background: rgb(57, 33, 101)
}

li::selection {
  color: rgb(174, 169, 184);
  background: rgb(57, 33, 101)
}


.numbered-list {
  list-style-type: decimal;
}


ul{
  list-style-type: disc;
}

.contact-type{
  color: rgb(97, 93, 105);
  user-select: none;
}


.contact-row p {
  margin:0;
  padding:0;
  
  margin-right: 5px;
  display: inline-block;  
}

.contact-person{
  /*text-decoration: underline;*/
  text-underline-offset: 2px;
  user-select: none;
  margin-top: 4px;
  color: rgb(74, 72, 78);
}

.contact-value:hover{
  color: rgb(182, 177, 194);
  cursor: pointer;
}

.contact-value{
  user-select: none;
}

.contact-value-none{  
  color: rgb(70, 67, 77);
  font-size: 15px;
  cursor: not-allowed;
}

.contact-value-none:hover{    
  cursor: disabled;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {  
  width: 120px;
  background-color: #392165;
  color: rgb(182, 177, 194);
  text-align: center;
  /*border: 2px #5727b0;*/
  border-bottom: 2px #5727b0 solid;
  border-left: 2px #5727b0 solid;
  border-radius: 0px 0px 0px 4px;
  padding: 5px 3px;
  position: relative;
  float: right;
  opacity: 0;
}


@keyframes tooltip-transition-show {
  0% { 
    opacity: 0;     
  }

  100% { 
    opacity: 1;        
  }
}

@keyframes tooltip-transition-hide {
  0% { 
    opacity: 1;     
  } 
  
  100% { 
    opacity: 0;     
  }
}

.loader {
  margin-right: 100px;
  margin-top: 3px;
  border: 5px solid #323033;
  border-radius: 50%;
  border-top: 5px solid #5727b0;
  width: 20px;
  height: 20px;
  animation: spinner 0.5s linear infinite;
  float:right;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

